/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Global Styles */
:root {
  --primary-color: #ff5e57;
  /* Main accent color */
  --secondary-color: #1b1b2f;
  /* Dark text color */
  --light-text-color: #f4f4f9;
  /* Light text color */
  --background-color: #eceff1;
  /* Background color */
  --font-family: 'Poppins', sans-serif;
  /* Modern font */
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--secondary-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Header and Navigation */
.header {
  background: rgba(255, 255, 255);
  color: var(--light-text-color);
  padding: 15px 30px;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
  font-family: "New Amsterdam", system-ui;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  width: 40vw;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.9vw;
  cursor: pointer;
}

.hamburger span {
  width: 4.5vw;
  height: 0.5vw;
  border-radius: 0.5vw;
  background: var(--secondary-color);
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: var(--secondary-color);
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d336ff;
}
.hero-content{
  margin-top: 70px;
  height: 100%;
  width: 100%;
  min-height: 45vw;
  background: var(--secondary-color);
  color: var(--light-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text_area{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_area p {
  z-index: 1;
  animation: fadeIn 1.5s ease-out;
  color: var(--light-text-color);
  font-size: 1.8vw;
  font-family: "New Amsterdam", system-ui;
  letter-spacing: 2px; 
  text-align: center; 
  padding-left: 20px;
  text-shadow: 2px 2px 5px #d336ff;
}
.bt{
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
.btns{
  height: 3vw;
  width: 12vw;
  font-size: 1.2vw;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
  text-decoration: none;
  color: var(--secondary-color);
  box-shadow: 0.5vw 0.5vw 0vw #d336ff;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: "New Amsterdam", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rocket{
  height: 2vw;
  width: 2vw;
}

.btns:hover{
  transform: translateY(5px);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 5;
    transform: translateY(0);
  }
}
.img_area{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_area img{
  height: 22vw;
  width: 22vw;
  border-radius: 50%;
  object-fit: cover;
}

.about{
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h3{
  height: 4vw;
  width: 11vw;
  background-color: #d336ff;
  box-shadow: 0.5vw 0.5vw 0.2vw #1b1b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
.about p{
  text-align: justify;
  width: 80%;
  font-size: 1.9vw;
  line-height: 3vw;
  letter-spacing: 0.1vw;
  font-family: "New Amsterdam", system-ui;
}
.skills{
  width: 100%;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skills h2{
  height: 4vw;
  width: 11vw;
  background-color: #d336ff;
  box-shadow: 0.5vw 0.5vw 0.2vw #1b1b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  background: linear-gradient(135deg, #3f2b96, #a8c0ff);
  color: white;
  padding: 1.5vw 2.5vw;
  border-radius: 1.2vw;
  font-size: 1.1vw;
  font-weight: 600;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px rgba(63, 43, 150, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skill:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(63, 43, 150, 0.4);
}
.projects{
  min-height: 40vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects h2{
  height: 4vw;
  width: 11vw;
  background-color: #d336ff;
  box-shadow: 0.5vw 0.5vw 0.2vw #1b1b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.project {
  height: 40vw;
  min-height: 30vw;
  width: 30vw;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.project h3 {
  margin: 1.5vw 0;
  font-size: 1.5vw;
}

.project p {
  padding: 0 1.5vw 1.5vw;
  color: #555;
  text-align: justify;
  font-size: 1.1vw;
}
.github{
  height: 3vw;
  width: 12vw;
  font-size: 1.2vw;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
  text-decoration: none;
  color: var(--secondary-color);
  box-shadow: 5px 5px 0px #d336ff;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: "New Amsterdam", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contact{
  margin-top: 20px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2{
  height: 4vw;
  width: 11vw;
  background-color: #d336ff;
  box-shadow: 0.5vw 0.5vw 0.2vw #1b1b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.2);
}

footer {
  background: var(--secondary-color);
  color: var(--light-text-color);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .hero-content{
    min-height: 60vh;
  }
  .text_area p{
    font-size: 3.4vw;
  }
  .img_area img{
    height: 37vw;
    width: 37vw;
  }
  .btns{
    height: 6vw;
  width: 18vw;
  font-size: 2vw;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--background-color);
    color: var(--light-text-color);
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.show {
    height: 110vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hero-content{
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .about{
    height: 55vw;
  }
  .about h3{
    height: 6vw;
    width: 15vw;
    border-radius: 3vw;
    font-size: 2vw;
  }
  .about p{
    text-align: justify;
    width: 80%;
    font-size: 2.7vw;
    line-height: 4vw;
    letter-spacing: 0.1vw;
    font-family: "New Amsterdam", system-ui;
  }
  .skills{
    width: 100%;
    min-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skills h2{
    height: 6vw;
    width: 15vw;
    border-radius: 3vw;
    font-size: 2vw;
  }
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 5vw;
  }
  
  .skill {
    padding: 3vw 4.5vw;
    border-radius: 1.4vw;
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }
  .projects{
    min-height: 50vh;
  }
  .project img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  .projects h2{
    height: 6vw;
    width: 15vw;
    border-radius: 3vw;
    font-size: 2vw;
  }
  .projects-container {
    min-height: 50vw;
    width: 80%;
  }
  
  .project {
    height: 65vw;
    min-height: 30vw;
    width: 55vw;
  }
  .project h3 {
    margin: 2.5vw 0;
    font-size: 2.8vw;
  }
  
  .project p {
    padding: 0 2.5vw 2.5vw;
    color: #555;
    text-align: justify;
    font-size: 2vw;
  }
  .github{
    height: 4vw;
    width: 16vw;
    font-size: 2vw;
    box-shadow: 0.5vw 0.5vw 0 #d336ff;
    
  }
  .contact h2{
    height: 6vw;
    width: 15vw;
    font-size: 2vw;
  }
  .contact p{
    width: 80%;
    text-align: center;
  }
}
